.container {
    position: relative;
    text-align: center;
    color: white;
}
.logo{
    width: 200px;
    height: 50px;
    float: left;
  
}
.logo-img{
    width: 100%;
    height: auto;
}
.form_subs{
    height: 24px;
    width: 295px;
    float: left;
    margin: 15px 0 0 15px;
}
.form_subs form button {
    
   
    width: 75px;
    height: 22px;
    color: #fff;
    float: left;
    cursor: pointer;
    background-color: rgb(209, 66, 66);
    border: none;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    
}
.form_subs form input {
    font-family: 'Gotham', sans-serif;
    width: 215px;
    height: 22px;
    float: left;
    overflow: hidden;
    margin-left: 2px;
    border-radius: 5px 0px 0px 5px;
}
.links {
    width: 434px;
    float: right;
    overflow: hidden;
}
.links a {
    font: 700 10px/22px Tahoma;
    color: #000;
    text-indent: 30px;
    margin: 4px 0 0 4px;
}
.icon-game{
    background-image: url(https://dantricdn.com/web_images/khcn.jpg);
    height: 22px;
    width: 93px;
}
.icon-work, .icon-ads, .icon-game, .icon-bussiness, .icon-humane, .icon-forum, .icon-home, .icon-event, .icon-detail, .icon-rss, .icon-rss2, .icon-yahoo, .icon-google, .icon-facebook, .icon-twitter, .icon-twitter2, .icon-linkhay, .icon-like, .icon-facebook2, .icon-1000y, .icon-ecard, .icon-english, .icon-tuanbao, .icon-rssfeed {
    float: left;
    overflow: hidden;
}
.icon-ads {
    background-image: url(account.png);
   
    height: 22px;
    width: 80px;
   
}
.icon-duhoc {
    background-image: url(dongho.png);
    float: left;
    overflow: hidden;
   
    height: 22px;
    width: 74px;
    float: left;
}
.icon-tuyensinh {
    background-image: url(tuyensinh.png);
    float: left;
    overflow: hidden;
   
    height: 22px;
    width: 89px;
    float: left;
}
.icon-tuanbao2 {
    background: url(fica.png) ;
    float: left;
    text-indent: 25px;
    
    height: 22px;
    width: 77px;
    float: left;
}
.icon-bussiness {
    background-image: url(nhanai.png);
  
    height: 22px;
    width: 93px;
    float: left;
}
.icon-humane2 {
    
    float: left;
    overflow: hidden;
    background: url(nhanai.png);
    height: 22px;
    width: 74px;
    float: left;
}
.icon-giaitri {
    background: url(doisong.png);
    float: left;
   
    height: 22px;
    width: 80px;
    float: left;
}
.icon-forum2 {
    background-image: url(account.png);
    float: left;
    overflow: hidden;
    
    height: 22px;
    width: 89px;
    float: left;
}
.icon-tienganh {
    background: url(sach.png);
    float: left;
   
    height: 22px;
    width: 77px;
    float: left;
}
.article{
    padding-top:70px;
}
.article img{
    width: 100%;
    height: auto;
}
.navbar{
    background-color: blue;
}
.container-fluid a{
    font-size: 10px;
}
@media (min-width:768px) {
.navbar-nav>li>a {
    padding-top: 11px;
    padding-bottom: 10px;
}
}
.title_{
    font-family:"Times New Roman",Georgia,Times;
    color: #004175;
    line-height: 25px;
    font-size: 19px;
    text-align: left;
}
.nbtcsapo {
    line-height: 22px;
    margin-top: 12px;
    color:black;
    text-align: left;

}
.fon3 a {
    font: 700 12px/23px Arial;
    text-transform: uppercase;
    color:white;
    background-color: red;
}
.ul1{
  
    list-style-type: none;
}
.ul1 a{
    color: #004175;
    font: 500 12px/15px Arial;
    text-align:left;
    display: block;
}
.section2 img, .section2{
    float:left;

}
.section2 span{
    color: rgb(31, 147, 189);
    font-size: 12px;
    text-align:left;
    display: block;
    margin-left: 15px;
}
.part2{
    margin-top:10px;
}
.img_{
    margin-bottom: 10px;

}
.img1{
float:left;
}
.footer-content{
    color:black;
    text-align: left;
    background-color: aquamarine;
}